<template>
    <div class="default-layout">
        <Header></Header>
        <!-- begin::Body -->
        <div class="container page_body">
            <div class="body_content">
                <div class="body_content_block">
                    <slot/>
                </div>
            </div>
        </div>
        <!-- end:: Body -->
        <Footer></Footer>
    </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
  name: 'DefaultLayout',
  components: { Header, Footer},
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style scoped>
.page_body {
    margin-top: 70px;
}
.body_content {
    min-height: 80vh;
}
.body_content_block {
    height: 100%;
    overflow-y: auto;
}
</style>
