<template>
  <div class="container">
    <div class="login-layout">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginLayout'
}
</script>

<style scoped>
.login-layout {
  background-color: #fff;
}

</style>
