<template>
  <div class="container">
    <div class="post">
      <div class="alert alert-danger fail-message" role="alert"></div>
      <div class="alert alert-success success-message" role="alert"></div>
      <div v-if="errors.length" class="alert alert-danger validate-message" role="alert">
        <p>
          <b>Please correct the following error(s):</b>
          <ul class="list-unstyled">
            <li v-for="error, index in errors" :key="index">{{ error }}</li>
          </ul>
        </p>
      </div>
      <h2 class="text-start">Customers</h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="search-block">
            <form id="searchPostsFrom" action="" method="post">
              <div class="input-group mb-3">
                <input type="text" v-model="searchText" name="search_text" id="search-text" placeholder="Search Customer" class="form-control" required>
                <button class="btn btn-primary input-group-button" @click.prevent="searchCustomers()">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-3 ms-auto">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerFormModal" @click.prevent="isUpdateForm = !isUpdateForm, resetCustomerForm()">Add Customer</button>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#csvUploadFormModal">Upload CSV</button>
        </div>
      </div>
      <div class="text-start mb-5">
        <div class="card">
          <div class="card-header">Customer List</div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th width="15%" scope="col">First Name</th>
                  <th width="15%" scope="col">last Name</th>
                  <th width="20%" scope="col">Address</th>
                  <th width="20%" scope="col">Email</th>
                  <th width="10%" scope="col">Phones</th>
                  <th width="15%" scope="col">Action</th>
                </tr>
              </thead>
              <tbody v-if="pageOfItems.length > 0">
                <tr v-for="customer, index in pageOfItems" :key="index">
                  <td>{{customer.first_name}}</td>
                  <td>{{customer.last_name}}</td>
                  <td>{{customer.address1 + ', ' + customer.address2 + ', ' + customer.city}}</td>
                  <td>{{customer.email}}</td>
                  <td>
                    <p v-for="phone in customer.phones" :key="phone.id">{{phone.phone}}</p>
                  </td>
                  <td>
                    <div class="post_action">
                      <a class="btn btn-success" href="#" role="button" @click.prevent="openUpdateCustomerForm(customer.id)">Update</a>
                      <a class="btn btn-danger" href="#" role="button" @click.prevent="deleteCustomer(customer.id)">Delete</a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="7"><div>No customers found.!</div></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <jw-pagination :items="customerData" @changePage="onChangePage" :pageSize="sizePerPage"></jw-pagination>
          </div>
        </div>
      </div>            
    </div>

    <!-- Customer Modal -->
    <div class="modal fade" id="customerFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-if="isUpdateForm" class="modal-title" id="staticBackdropLabel">Update Customer</h5>
            <h5 v-else class="modal-title" id="staticBackdropLabel">Create Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="customerForm" action="" method="post">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-floating">
                    <input type="hidden" name="customer_id" id="customer_id" value="0">
                    <input type="text" name="first_name" id="first-name" placeholder="First Name" class="form-control">
                    <label for="first-name">First Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-floating">
                    <input type="text" name="last_name" id="last-name" placeholder="Last Name" class="form-control">
                    <label for="last-name">Last Name</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="form-floating">
                    <input type="text" name="address1" id="address1" placeholder="Address Line 1" class="form-control" required>
                    <label for="address1">Address Line 1</label>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-floating">
                    <input type="text" name="address2" id="address2" placeholder="Address Line 2" class="form-control" required>
                    <label for="address2">Address Line 2</label>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="form-floating">
                    <input type="text" name="city" id="city" placeholder="City" class="form-control" required>
                    <label for="city">City</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-floating">
                    <input type="email" name="email" id="email" placeholder="Email" class="form-control" required>
                    <label for="email">Email</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input type="hidden" name="phonecount" v-model="customerPhoneList.length">
                  <div class="form-floating mb-3" v-for="(customerPhone, index) in customerPhoneList" :key="index" :id="'phone_row_' + index">
                    <input type="hidden" :name="'phone_id_' + index" v-model="customerPhone.phone_id">
                    <input type="text" :name="customerPhone.name" :id="index" :placeholder="'Phone'" class="form-control" v-model="customerPhone.value" required>
                    <label :for="index">Phone</label>
                    <button v-show="(index == 0)" class="btn btn-primary add_phone_button" @click.prevent="addRow()">+</button>
                    <button v-show="(customerPhoneList.length > 1)" class="btn btn-danger remove_phone_button" @click.prevent="deleteRow(index)">-</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button v-if="isUpdateForm" type="button" class="btn btn-primary" @click.prevent="updateCustomer()">Update</button>
            <button v-else type="button" class="btn btn-primary" @click.prevent="addCustomer()">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CSV Upload Modal -->
    <div class="modal fade" id="csvUploadFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Upload CSV</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <input class="form-control" type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class=" float-start"><small>CSV Header Row Format: first_name, last_name, address1, address2, city, email, phone</small></div>
                <div class=" float-start"><small>(If you have multiple phone numbers, add them comma separated in the phone column)</small></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click.prevent="uploadCSV()">Upload CSV</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
var $ = require('jquery')
var Cookies = require('vue-cookies')

var Customers = {
  name: 'customers',
  props: [],
  data () {
    return {
      phoneIndex: 0,
      isUpdateForm: false,
      customerData: [],
      pageOfItems: [],
      sizePerPage: 5,
      errors: [],
      file: '',
      customerPhoneList: [],
      searchText: null,
      userId: Cookies.get('userId'),
      emailPattern: /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
    }
  },
  mounted () {
    $('.fail-message').hide()
    $('.success-message').hide()
    this.getCustomers()
    this.addRow()
  },
  methods: {
    /**
     * Add new customer
     */
    addCustomer () {
      this.errors = []

      if (!$('#first-name').val())
        this.errors.push('First Name is required')

      if (!$('#last-name').val())
        this.errors.push('Last Name is required')

      if (!$('#email').val())
        this.errors.push('Email is required')

      if($('#email').val() && !this.emailPattern.test($('#email').val()))
        this.errors.push('Not a valid e-mail address')

      if (this.errors.length == 0) {
        axios.post('http://localhost:8000/api/v1/create_customer' + '?token=' + Cookies.get('accessToken'), $('#customerForm').serialize()).then(response => {
          var result = response.data
          console.log(result)
          if (result.status == 1) {
              $('.success-message').html(result.res)
              $('.success-message').show()
              setTimeout(()=>{
                 $('.success-message').hide()
              }, 2000);
              this.resetCustomerForm()
              this.getCustomers()
          } else {
            $('.fail-message').html(result.res)
            $('.fail-message').show()
            setTimeout(()=>{
                $('.fail-message').hide()
            }, 2000);
          }
        }).catch(function (error) {
            if (error.response) {
              // The request was made and the server responded with a status code
              console.log('error.response.data');
              console.log(error.response.data);
              console.log(error.response.status);
              console.log(error.response.headers);
            } else if (error.request) {
              // The request was made but no response was received
              console.log('error.request');
              console.log(error.request);
            } else {
              // Something happened in setting up the request that triggered an Error
              console.log('Error', error.message);
            }
        })
      }
    },
    /**
     * Add new Phone row for the Customer Form Modal
     */
    addRow () {
      this.customerPhoneList.push({
        id: this.phoneIndex,
        name: 'phone_' + this.phoneIndex,
        phone_id: '0',
        value: ''
      });
      this.phoneIndex++;
    },
    /**
     * Delete a customer by customer id
     */
    deleteCustomer (customerId) {
      if (confirm('Are you sure want to delete this customer.?')) {
        axios.delete('http://localhost:8000/api/v1/customer/' + customerId + '?token=' + Cookies.get('accessToken')).then(response => {
          var result = response.data
          if (result.status == 1) {
            $('.fail-message').hide()
            $('.success-message').html('Customer Deleted successfully')
            $('.success-message').show()
            location.reload()
          } else {
            $('.success-message').hide()
            $('.fail-message').html('Customer Delete Error.')
            $('.fail-message').show()
            setTimeout(()=>{
              $('.fail-message').hide()
            }, 2000);
          }
        }).catch(function (error) {
          console.log(error)
        })
      }
    },
    /**
     * Delete a phone row from the Customer Form Modal
     */
    deleteRow (index) {
      this.customerPhoneList.splice(index, 1);
    },
    /**
     * Get all customers registered to the sytem when page load
     */
    getCustomers () {
      axios.get('http://localhost:8000/api/v1/customer_list' + '?token=' + Cookies.get('accessToken')).then(response => {
        var result = response.data
        this.customerData = result
       
      }).catch(function (error) {
        console.log(error)
      })
    },
    /**
     * Set file upload data to the file variable
     */
    handleFileUpload () {
      this.file = this.$refs.file.files[0];
    },
    /**
     * Change customer page according to the pagination page link button clicked by user
     */
    onChangePage (pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems;
    },
    /**
     * Opens the Customer Form Modal for Update or Create funtions
     */
    openUpdateCustomerForm (customerId) {
      axios.get('http://localhost:8000/api/v1/customer/' + customerId + '?token=' + Cookies.get('accessToken')).then(response => {
        var result = response.data
        console.log(result)
        this.isUpdateForm = true
        $('#customer_id').val(result.id)
        $('#first-name').val(result.first_name)
        $('#last-name').val(result.last_name)
        $('#address1').val(result.address1)
        $('#address2').val(result.address2)
        $('#city').val(result.city)
        $('#email').val(result.email)
        this.phoneIndex = 0
        this.customerPhoneList = []
        for(let i=0; i < result.phones.length; i++)
        {
          this.customerPhoneList.push({
            id: this.phoneIndex,
            name: 'phone_' + this.phoneIndex,
            phone_id: result.phones[i].id,
            value: result.phones[i].phone
          })
          this.phoneIndex++;
        }
        var customerFormModal = new bootstrap.Modal($('#customerFormModal'), {})
        customerFormModal.show()
      }).catch(function (error) {
        console.log(error)
      })
    },
    /**
     * Reset the Customer Form Modal form data after update or create the customer
     */
    resetCustomerForm () {
      $('#customerForm')[0].reset()
      this.phoneIndex = 0
      this.customerPhoneList = []
      this.addRow()
    },
    /**
     * Search customer by First Name, Last Name, Email or Phone Numbers
     */
    searchCustomers () {
      var term = (this.searchText)? this.searchText : "all"
      axios.get('http://localhost:8000/api/v1/search_customers/' + term + '?token=' + Cookies.get('accessToken')).then(response => {
        var result = response.data
        console.log(result)
        this.customerData = result
      }).catch(function (error) {
        console.log(error)
      })
    },
    /**
     * Update customer by customer id
     */
    updateCustomer () {
      this.errors = []
      if (!$('#first-name').val())
        this.errors.push('First Name is required')

      if (!$('#last-name').val())
        this.errors.push('Last Name is required')

      if (!$('#email').val())
        this.errors.push('Email is required')

      if($('#email').val() && !this.emailPattern.test($('#email').val()))
        this.errors.push('Not a valid e-mail address')

      if (this.errors.length == 0) {
        axios.post('http://localhost:8000/api/v1/update_customer' + '?token=' + Cookies.get('accessToken'), $('#customerForm').serialize()).then(response => {
          var result = response.data
          console.log(result)
          if (result.status == 1) {
            $('.success-message').html(result.res)
            $('.success-message').show()
            setTimeout(()=>{
                $('.success-message').hide()
            }, 2000);
            this.resetCustomerForm()
            this.getCustomers()
          } else {
            $('.fail-message').html(result.res)
            $('.fail-message').show()
            setTimeout(()=>{
                $('.fail-message').hide()
            }, 2000);
          }
        }).catch(function (error) {
          if (error.response) {
            // The request was made and the server responded with a status code
            console.log('error.response.data');
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            // The request was made but no response was received
            console.log('error.request');
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
          }
        })
      }
    },
    /**
     * Upload CSV to Create or Update customer data as a bulk insert
     */
    uploadCSV () {
      this.errors = []
      if (!$('#file').val())
        this.errors.push('File is required')

      let formData = new FormData();
      formData.append('file', this.file);

      if (this.errors.length == 0) {
        axios.post('http://localhost:8000/api/v1/upload_csv' + '?token=' + Cookies.get('accessToken'), formData, {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          var result = response.data
          console.log(result)
          if (result.status == 1) {
              $('.success-message').html(result.res)
              $('.success-message').show()
              setTimeout(()=>{
                 $('.success-message').hide()
              }, 2000);
              this.file = '';
              this.getCustomers()
          } else {
            $('.fail-message').html(result.res)
            $('.fail-message').show()
            setTimeout(()=>{
                $('.fail-message').hide()
            }, 2000);
          }
        }).catch(function (error) {
            if (error.response) {
              // The request was made and the server responded with a status code
              console.log('error.response.data');
              console.log(error.response.data);
              console.log(error.response.status);
              console.log(error.response.headers);
            } else if (error.request) {
              // The request was made but no response was received
              console.log('error.request');
              console.log(error.request);
            } else {
              // Something happened in setting up the request that triggered an Error
              console.log('Error', error.message);
            }
        })
      }
    }
  }
}

export default Customers
</script>

<style lang="">
  .customer_block {
    border: 1px solid cadetblue;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 1px 2px 0px #0d5ba9;
  }

  button.add_phone_button {
    position: absolute;
    right: -120px;
    top: 0;
    width: 50px;
  }

  button.remove_phone_button {
    position: absolute;
    right: -60px;
    top: 0;
    width: 50px;
  }
</style>