<template>
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="heading m-5">
            <h1>ABC - Customer Relationship Management System</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-danger fail-message" role="alert"></div>
        <div class="alert alert-success success-message" role="alert"></div>
        <div class="alert alert-danger validate-message" role="alert">
          <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul class="list-unstyled">
              <li v-for="error, index in errors" :key="index">{{ error }}</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 login_block">
          <div class="card">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
              <form id="loginForm" action="" method="post">
                <div class="mb-3">
                  <input type="email" v-model="loginEmail" name="email" id="email" placeholder="Email" class="form-control" required>
                </div>
                <div class="mb-3">
                  <input type="password" v-model="loginPassword" name="password" id="password" placeholder="Password" class="form-control" required>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary form-control" @click.prevent="loginForm()">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
import $ from "jquery";
var Cookies = require('vue-cookies')
var Login = {
  name: 'login',
  props: ['authenticated'],
  data () {
    return {
      errors: [],
      loginEmail: null,
      loginPassword: null,
      emailPattern: /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
    }
  },
  mounted () {
    $('.fail-message').hide()
    $('.success-message').hide()
    $('.validate-message').hide()
  },
  methods: {
    loginForm: function () {
      this.errors = []
      if (!this.loginEmail)
        this.errors.push('Email is required')

      if(this.loginEmail && !this.emailPattern.test(this.loginEmail))
        this.errors.push('Not a valid e-mail address')

      if (!this.loginPassword)
        this.errors.push('Password is required')

      if (this.errors.length == 0) {
        $('.validate-message').hide()
        axios.post('http://localhost:8000/api/v1/login', $('#loginForm').serialize()).then(response => {
          var result = response.data
          if (result.status == 1) {
              $('.fail-message').hide()
              // authenticate success and make user login
              this.$emit('authenticated', true)
              Cookies.set('accessToken', result.res.token)
              Cookies.set('userId', result.user.id)
              Cookies.set('firstName', result.user.first_name)
              Cookies.set('email', result.user.email)
              this.$router.replace({ name: 'customers' })
          } else {
            $('.success-message').hide()
            $('.fail-message').html('Username or Password not match.')
            $('.fail-message').show()
          }
        }).catch(function (error) {
            if (error.response) {
              // The request was made and the server responded with a status code
              console.log(error.response.data);
              console.log(error.response.status);
              console.log(error.response.headers);
            } else if (error.request) {
              // The request was made but no response was received
              console.log(error.request);
            } else {
              // Something happened in setting up the request that triggered an Error
              console.log('Error', error.message);
            }
        })
      } else {
        $('.validate-message').show()
      }
    }
  }
}
export default Login
</script>

<style >
  .login_block {
    margin: auto;
  }

</style>
