<template>
  <div class="footer">
    <!-- begin::Footer -->
    <footer class="">
      <div class="">
        <span class="m-footer__copyright"> 2021 &copy; ABC - Customer Relationship Management System by damitha01@gmail.com</span>
      </div>
    </footer>
    <!-- end::Footer -->
  </div>
</template>

<script>

export default {
  name: 'footer',
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
