<template>
  <div class="header">
    <div class="row">
      <div class="col-md-6 mt-3">
        <h4>ABC - <small>Customer Relationship Management System</small></h4>
      </div>
      <div class="col-md-6 mt-3">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="#" @click="logout()" class="nav-link">Logout ({{firstName}})</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
var Cookies = require('vue-cookies')

export default {
  name: 'header',
  components: {},
  data () {
    return {
      firstName: '',
      lastName: '',
      email: ''
    }
  },
  mounted () {
    this.firstName = Cookies.get('firstName')
    this.lastName = Cookies.get('lastName')
    this.email = Cookies.get('email')
  },
  methods: {
    /**
     * Clear all cookies and set authenticate false when logout
     */
    logout () {
      var allCookies = Cookies.keys()
      allCookies.forEach(items => {
        Cookies.remove(items)
      })
      this.$emit('authenticated', false)
      location.reload()      
    }
  }
}
</script>

<style lang="">
  .header {
    border-bottom: 1px solid;
    box-shadow: 0px 2px 1px 0 #0d5ba9;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    top: 0;
    z-index: 10;
  }
  .header a.nav-link:hover {
    background: #0f5ca9;
    color: #fff;
  }
  .alert.fail-message, .alert.success-message, .alert.validate-message {
    position: fixed;
    z-index: 1500;
    right: 50px;
    width: max-content;
  }
</style>