<template>
  <div id="app">
    <component :is="addLayout">
      <router-view @authenticated="setAuthenticated" authenticated=false></router-view>
    </component>
  </div>
</template>

<script>
var Cookies = require('vue-cookies')
const defaultLayout = 'defaultlayout'

export default {
  name: 'App',
  data () {
    return {
      authenticated: false
    }
  },
  mounted () {
    // Set this.authenticate when cookie exist with user id
    if (Cookies.get('userId') > 0)
      this.setAuthenticated(true)

    // If user id not set to Cookies authentication failed and redirect to login
    if (!this.authenticated)
      this.$router.replace({ name: 'login' })
  },
  methods: {
    setAuthenticated (status) {
      this.authenticated = status
    }
  },
  computed: {
    addLayout () {
      return this.$route.meta.layout || defaultLayout
    }
  }
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #0d276f;
}
</style>
